
/* 
@main-color: #f4f2f3;
$sub-color: #c0a9bd;
$second-color: #94a7ae;
$thrid-color: #64766a; 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #94a7ae;
    padding-top: 10%;
    padding-bottom: 10%;
}

.wrap {
    background-color: #f4f2f3;
    display: flex;
    justify-content: center;
    width: 500px;
    min-height: 500px;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}

h1 {
    color: #64766a;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-shadow: #94a7ae 0.1em 0.1em 0.2em;
}

.addlist {
    padding: 20px 40px;
}

.addlist input {
    background-color: #64766a;
    padding: 8px 14px;
    color: white;
}

.addlist input#typing {
    border-radius: 10px;

}

.addlist input#typing:focus {
    border: 0.2rem solid #64766a ;
    background-color: #f4f2f3;
    color: #64766a;
    outline: none;
}

.addlist input#typing::placeholder {

    color: #f4f2f3;
}

.addlist input#send {
    border-radius: 10px;
    cursor: pointer;
}

.addlist input#send:hover {
    background-color: #f4f2f3;
    color: #64766a;
}


.listdisplay {
    height: auto;
}

ul {
    padding: 10px;
    list-style: none;
    color: #64766a;
}

ul a {
    color: #64766a;
    text-decoration: none;
    padding: 10px;
}

li {
    padding: 10px 0px;
}