
/* @main-color: #f4f2f3;
$sub-color: #c0a9bd;
$second-color: #94a7ae;
$thrid-color: #64766a; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #94a7ae;
}

.wrap {
    background-color: #f4f2f3;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    padding: 10px;
}

.addlist {
    padding: 30px 50px;
}

.addlist input {
    background-color: #64766a;
    padding: 5px 10px;
    color: white;
}

.listdisplay {
    height: auto;
    padding: 10px;
}

ul {
    padding: 5px;
    list-style: none;
    color: #64766a;
}

ul a {
    background-color: #64766a;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 12px;

}

li {
    padding: 10px;
}
